.space-grotesk-regular {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grrotesk', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #04002e;
  height: 100vh;
  width: 100vw;
  padding: auto;
  padding-bottom: 2rem;
}

h1 {
  font-size: calc(1vw + 3rem);
  text-wrap: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  display: block;
  color: #deeaff;
} 

.input {
  display: grid;
  grid-template-areas: 
  'label label'
  'text button'
  'svg svg';
  gap: 4rem;
  min-width: 350px;
}

.input > label {
  grid-area: label;
  text-align: center;
  font-size: calc(1vw + 0.85rem);
  font-weight: 200;
  color: #deeaff;
}

.input > input {
  grid-area: text;
  border: none;
  padding: 1.5rem;
  border-radius: 1.5rem;
  width: 600px;
}

.input > button {
  grid-area: button;
  border: none;
  padding: 1rem;
  background: none;
  color: #00ffa2;
  font-size: calc(1vw + 1.5rem);
  font-weight: 600;
  cursor: pointer;
  max-width: 300px;
  transition: all 0.3s ease;
}

.input > button:hover {
  transform: scale(1.35);
  border: 3px solid #00ffa2;
  border-radius: 8px;
}

.svg-container {
  grid-area: svg;
  min-height: 5vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.svg-container > svg {
  min-height: 250px;
  min-width: 250px;
  border-radius: 8px;
}

.app-container > a {
  color: #00ffa2;
  text-decoration: none;
  font-size: calc(1vw + 1rem);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.app-container > a:hover {
  transform: scale(1.35);
  margin: 0;
  padding: 1rem;
  border: 3px solid #00ffa2;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .input {
    grid-template-areas: 
    'label'
    'text'
    'button';
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
  }

  h1 {
    padding-top: 2rem;
    text-wrap: wrap;
    margin: 1rem;
    text-align: center;
  }

  .input > input {
    font-size: calc(1vw + 1.25rem);
    max-width: 80vw;
  }

  .input > input::placeholder {
    color:#272727;
    font-weight: 600;
    font-style: italic;
  }

  .input > button {
    background: #00ffa2;
    border-radius: 8px;
    color: #04002e;
    justify-self: center;
  }

  .input > label {
    text-align: left;
    padding-left: 1rem;
  }

  .svg-container {
    width: 100%;
    height: 100%;
  }

  .app-container > a {
    background: #00ffa2;
    border-radius: 8px;
    color: #04002e;
    padding: 1rem;
    
  }
}